/* Import Normalize.css */
@import url('https://unpkg.com/normalize.css') layer(normalize);

@layer normalize, base, demo, grid, setup, scroll, novelty;

/* Scroll Behavior for Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

@layer scroll {
  :root {
    --power-1-out: linear(0 0%, 0.2 50%, 1 100%);
  }

  @media (prefers-reduced-motion: no-preference) {
    [data-enhanced='true'] {
      main section:first-of-type {
        min-height: 200vh;
      }
      @supports (animation-timeline: scroll()) {
        main section:first-of-type {
          view-timeline: --runner;
        }
        .scaler img {
          animation-name: fade;
          animation-timing-function: var(--power-1-out);
          animation-timeline: --runner;
          animation-range: entry 80% exit 20%;
        }
      }
    }
  }

  @keyframes fade {
    0%, 50% { opacity: 0; }
    100% { opacity: 1; }
  }
}

@layer setup {
  :root {
    --container-width: 1600px;
    --gap: clamp(10px, 7.35vw, 80px);
    --gutter: 2rem;
  }

  @media (max-width: 600px) {
    :root {
      --gutter: 1rem;
    }
  }

  .content {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
  }

  .scaler {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .scaler img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    object-fit: cover;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    will-change: transform, opacity;
  }
}

@layer grid {
  .grid {
    width: 1600px;
    max-width: calc(100% - (2 * var(--gutter)));
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: var(--gap);
    margin: 0 auto;
    align-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
  }

  @media (max-width: 600px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .grid .scaler {
    position: relative;
    grid-area: 2 / 3;
  }

  .grid img {
    width: 100%;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    border-radius: 1rem;
  }
}
